# Local
.DS_Store
*.local
*.log*

# Dist
node_modules/
dist/
public/assets/
public/canvaskit/
public/icons/
public/static/
public/favicon.png
public/flutter_bootstrap.js
public/flutter_service_worker.js
public/flutter.js
public/index.html
public/main.dart.js
public/main.dart.mjs
public/main.dart.wasm
public/manifest.json
public/version.json
public/flutterBridge.js
# IDE
.vscode/*
!.vscode/extensions.json
.idea
